
.donation-link-btn {
    height: 120px;
    width: 60%;
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    cursor: pointer;
}

.donation-link-btn li a {
    width: 100%;
    height: 120px;
    display: block;
}

.donation-link-selected {
    background-color: rgb(252, 151, 168);
    color: white;
    width: 33.3%;
    height: 100%;
    line-height: 120px;
    font-size: 35px;
    box-shadow: 0px 0px 15px rgb(241 128 175 / 75%);
    text-align: center;
    font-weight: 500;
    
}
.donation-link {
    background-color: rgb(214, 214, 214);
    color: black;
    width:33.3%;
    height: 100%;
    line-height: 120px;
    font-size: 35px;
    text-align: center;
    font-weight: 400;
}

.wrap-blood-donation {
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.wrap-blood-donation p {
    font-size: 70px;
    font-weight: 500;
    font-family: 'MaruBuriLight';
    margin-bottom: 40px;
}

.blood-donation-info {
    display: flex;
    height: 300px;
    align-items: center;
}

.blood-donation-info div{
    width: 50%;
}

.blood-donation-info p {
    font-size: 20px;
    line-height: 30px;
}





