
.donation-link-btn {
    height: 90px;
    width: 60%;
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    cursor: pointer;
}

.donation-wrap {
    margin: 0 auto;
}

.donation-link-btn li a {
    width: 100%;
    height: 90px;
    display: block;
}

.donation-link-selected {
    background-color: rgb(255, 164, 178);
    color: white;
    width: 33.3%;
    height: 100%;
    line-height: 90px;
    font-size: 30px;
    box-shadow: 0px 0px 15px rgb(241 128 175 / 75%);
    text-align: center;
    font-weight: 500;
    
}
.donation-link {
    background-color: rgb(214, 214, 214);
    color: black;
    width: 33.3%;
    height: 100%;
    line-height: 90px;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}

.wrap-blood-donation {
    text-align: center;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.wrap-blood-donation p {
    font-size: 70px;
    font-weight: 600;
    font-family: 'MaruBuriLight';
}

.blood-donation-info {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.blood-donation-info div img {
    height: 300px;
}

.blood-donation-info div{
    width: 35%;
    height: 300px;
    align-items: center;
}

.blood-donation-info p {
    font-size: 38px;
    line-height: 50px;
    font-weight: 300;
}

.wrap-qna {
    border: 1px dotted rgb(116, 115, 115);
    margin-top: 50px;
    padding: 30px;
}

.qna {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.qna p {
    font-size: 28px;
    font-weight: 300;
    margin-top: 20px;
}

.qna li p {
    font-size: 40px;
    font-weight: 600;
}

.qna img {
    width: 25%;
    margin-bottom: 20px;
}

.qna li {
    margin: 10px 0 0 0;
    width: 80%;
    height: 50px;
}


.wrap-donation-guide {
    width: 100%;
    max-width: 2400px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(236, 235, 255);
    height: 550px;
    margin-top: 140px;
    margin-bottom: 240px;
    display: flex;
    flex-direction: column;
}

.p-title {
    font-size: 70px;
    font-weight: 600;
    font-family: 'MaruBuriLight';
    margin-bottom: 30px;
}

.p-title2 {
    font-size: 50px;
    font-weight: 600;
    font-family: 'MaruBuriLight';
    margin-bottom: 30px;
}

.p-contents {
    font-size: 25px;
    font-weight: 300;
    color: rgb(88, 88, 88);
    margin-top: 10px;
}

.donation-guide-box {
    display: flex;
    justify-content: space-around;

}

.donation-guide-box div img{
    width: 300px;
    height: 270px;
}

.donation-guide-box div {
    width: 450px;
    height: 350px;
}

