.header {
    display:flex;
    font-size:20px;
    font-weight: bolder;
    color : white;
    z-index: 100;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    margin : 0 auto;
    max-width: 1800px;
    width:100%;
}

.wrap {
    margin : 0 auto;
    max-width: 1800px;
    width:100%;
    
}
.header{
    position:fixed;
    left:50%;width:100%;
    padding:10px 0;
    text-align:center;
    transform:translate(-50%);
    transition:all .3s}


.header .logo {
    width : 6%;
    height: 100%;
}
.header .nav {
    width : 30%;
    margin : 0 auto;
}
.header .nav >ul {
    display : flex;
    margin : 10px 0;
}

.header .nav > ul > li {
    width: 100%;
    height: 50px;
    margin : 8px 20px;
    line-height: 50px;
    text-align: center;
    color : white;
}

.header .right-header {
    width : 20%;
    display: flex;
    font-size:20px;
    margin : 5px 20px;
    line-height: 30px;
    text-align: center;
}
.header .right-header .donation{
    height : 50px;
    margin : 5px 20px;
    text-align: center;
    width: 50%;
}


.donation >a {
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#cfcece;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
    margin: 6px;
	padding:5px 5px;
}
.donation >a:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.donation >a:active {
	position:relative;
	top:1px;
}
.header .right-header .login{
    height : 50px;
    margin : 5px 20px;
    line-height: 40px;
    text-align: center;
    width: 50%;
}
.login >a {
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
    margin: 6px;
	padding:5px 5px;
}
.login >a:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.login >a:active {
	position:relative;
	top:1px;
}

.bottom_box div{
    padding-top: 10px;
    margin-left :30px;
}
.bottom_box{
    width: 100%;
    height: 200px;
    background-color: rgb(129, 26, 112);
    color: white;
    margin-bottom: 50px;
}
.bottom_box div{
    
    max-width: 1400px;
    margin : 0 auto;
}
.bottom_box h3{
    margin-top: 5px;
    font-size : 30px;
}
.bottom_box p{
    font-size: 20px;
    margin: 5px 0 10px 0;
}
.inquary{
    width:100%;
    background-color: rgb(138, 136, 134);
    align-items: center;
    
}
.inquary div{
    max-width: 1400px;
    margin: 0 auto;
}
.inquary a{
    display: inline-block;
    line-height: 50px;
    padding : 0 30px;
    margin-right : 10px;
}
.bottom_info{
    width: 100%;
    display:flex;
    background-color: none;
    color: #1e1f21;
    justify-content: space-between;
    margin:0 auto;
    background-color: #757980;
}
.bottom_info .footer-l{
    width: 50%;
    height: 100%;
    margin-left:20px;
}
.bottom_info .footer-r{
    width: 30%;
    height: 100%;
    
}
.bottom_info .footer-l h3 {
    margin : 30px 0 30px 0;
    font-size: 30px;
}
.bottom_info .footer-l p{
    font-size: 15px;
    font-weight:normal;
}
.bottom_info .footer-r p{
    font-size: 15px;
    margin : 20px;
    font-weight:normal;
}