.header {
    margin : 0 auto;
    max-width: 1800px;
    width:100%;
    display:flex;
    font-size:20px;
    font-weight: bolder;
    background-color: rgb(99, 98, 98);
    color : white;
    z-index: 0;
    
}
.wrap {
    margin : 0 auto;
    max-width: 1800px;
    width:100%;
}
.header .logo {
    width : 30%;
    height: 70px;
}
.header .nav {
    width : 50%;
    margin : 0 auto;
}
.header .nav >ul {
    display : flex;
    margin : 10px 0;
}

.header .nav > ul > li {
    width: 100%;
    height: 50px;
    margin : 8px 20px;
    line-height: 50px;
    text-align: center;
    color : white;
}

.header .right-header {
    width : 20%;
    display: flex;
    font-size:15px;
    margin : 10px 0;
}
.header .right-header .donation{
    height : 50px;
    margin : 5px 20px;
    line-height: 40px;
    text-align: center;
    width: 50%;
}

.donation >a {
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
    margin: 6px;
	padding:5px 5px;
}
.donation >a:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.donation >a:active {
	position:relative;
	top:1px;
}
.header .right-header .login{
    height : 50px;
    margin : 5px 20px;
    line-height: 40px;
    text-align: center;
    width: 50%;
}

