@font-face {
    src : url("../fonts/BMJUA_ttf.ttf");
}

section{
    height: 100vh;
    font-family: "jua";
    
}
.swiper-wrapper .banner1{
    background:url("../img/banner2.jpg");
    object-fit: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.swiper-wrapper .banner1 p{
    font-size : 35px;
    color: white;
}
.swiper-wrapper .banner1 h1{
    font-size : 60px;
    color: white;
    text-align: center;
}
.swiper-wrapper .banner2{
    background:url("../img/banner1.jpg");
    object-fit: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.swiper-wrapper .banner2 h1{
    font-size : 60px;
    color: white;
    text-align: center;
}
.swiper-wrapper .banner2 > div> p{
    font-size : 35px;
    color: white;
}

.swiper-wrapper .banner3{
    background:url("../img/banner4.jpg");
    object-fit: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.swiper-wrapper .banner3 h1{
    font-size : 60px;
    color: white;
    text-align: center;
}
.swiper-wrapper .banner3 > div> p{
    font-size : 35px;
    color: white;
}
.mySwiper {
    width: 100%;
    height: 60vh;
    margin-bottom: 30px;
  }
.mySwiper02 {
    max-width: 1800px;
    width: 100%;
    height: 30vh;
    margin-bottom: 30px;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(212, 164, 164);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide3{
      background-color:none;
      margin : 10px;
}
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}
.mySwiper02 .swiper-slide{
    background-color: rgb(92, 71, 32);
    color: white;
}
.mySwiper02 .swiper-slide img {
    display: block;
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  .mySwiper02 .swiper-slide h1{
      width:100%;
      height: 20%;
      line-height: 70px;
  }
.wrap .story-title {
    width : 100%;
    height: 100px;
    text-align: center;
    margin:10px auto;
    line-height: 90px;
}
.wrap .story-content{
    height: 50vh;
}
.wrap .story-title > h1 {
    font-size: 50px;
    font-family: "jua";
}
.story-content{
    background-color: rgb(153, 173, 190);
    max-width: 1800px;
}
.wrap .support-status .donation-title{
    margin: 20px 0;
}
.wrap .support-status .donation-title h1{
    text-align: center;
    font-size:50px;
}
.wrap .support-status .status-box > div > p{
    font-size : 30px;
    font-weight: bolder;
    height: 50%;
    line-height: 150px;
    
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 10px;
    font-weight: 400;
}
.support-status-wrap{
    background-color: #f4f4f4;
    
    padding-bottom : 30px;
}
.wrap .support-status .status-box {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    height: 30vh;
}

.wrap .support-status .status-box > div{
    width : 40%;
    height: 20vh;
    margin : 50px; 
    background-color:rgb(205, 216, 57);
    border-radius: 2%;
    border: 1px solid silver;
} 
.wrap .participating-companies{
   height: 20vh;
   margin : 50px 0;

}
.wrap .participating-companies-title {
    margin :30px 0;
}
.wrap .participating-companies-title > h1{
    font-size: 50px;
    text-align: center;
    
}
.memberCountCon{
    font-weight: bold;
}

.wrap .story-content {
    max-width: 1800px;
    margin : 0 auto;
}

.mySwiper03 .swiper-slide img{
 width : 100%;
 height: 100%;
 border-radius: 50%;
 overflow: hidden;
}