.mySwiper{
    margin-top: 0px;
    z-index: 1;
}
.swiper {
    width: 100%;
    height: 1300px;
  }
.swiper.img{
    width : 100%;
    height : 100%;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.wrap .story-title {
    width : 100%;
    height: 100px;
    text-align: center;
    margin:10px auto;
    border:solid 1px black;
    line-height: 90px;
}
.wrap .story-content{
    height: 500px;
}
.wrap .story-title > h1 {
    font-size: 50px;
}

.wrap .story-content {
    background-color: rgb(153, 173, 190);
}

.wrap .support-status{
}
.wrap .support-status .status-box {
    display: flex;
    justify-content: center;
}

.wrap .support-status .status-box > div{
    width : 40%;
    height: 300px;
    margin : 40px 30px;
    background-color:rgb(205, 216, 57);
} 
.wrap .participating-companies{
   height: 400px;
   background-color: beige;

}
.wrap .participating-companies-title {
    margin :20px 0;
}
.wrap .participating-companies-title > h1{
    font-size: 50px;
    text-align: center;
    
}