.mySwiper{
    margin-top: 0px;
    z-index: 1;
}
.swiper {
    width: 100%;
    height: 800px;
  }
.swiper.img{
    width : 100%;
    height : 100%;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.wrap .story-title {
    width : 90%;
    height: 100px;
    text-align: center;
    margin:10px auto;
    border:solid 1px black;
    line-height: 90px;
}

.wrap .story-title > h1 {
    font-size: 50px;
}