.intro > ul> li{
    list-style: none;
    margin: 50px;
}
.intro >ul{
    display: flex;
}
.say-img > img{
    width: 500px;
}
.say-img > p{
    text-align: center;
    font-size: 25px;
}
.say-img > p > i{
    color:red;
}
.say-text{
    background-color: #f7f7f7;
    padding: 50px;
}
.say-text > p > i{
    color:red;

}
.say-text > h2{
    font-size: 40px;
}
.say-text > p{
    font-size: 30px;
    padding: 15px 10px;
}
.intro-icon{
    text-align: center;
}
.intro-icon > i{
    padding: 20px 10px;
    font-size: 40px;
    color: rgb(133, 125, 125);
}

.mySwiper {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(212, 164, 164);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .donation-wrap {
    margin: 0 auto;
}
  .intro-link-btn {
    height: 90px;
    width: 60%;
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    cursor: pointer;
}
  .intro-link-btn li a {
    width: 100%;
    height: 90px;
    display: block;
}

.intro-link-selected {
    background-color: rgb(255, 164, 178);
    color: white;
    width: 33.3%;
    height: 100%;
    line-height: 90px;
    font-size: 30px;
    box-shadow: 0px 0px 15px rgb(241 128 175 / 75%);
    text-align: center;
    font-weight: 500;
    
}
.intro-link {
    background-color: rgb(214, 214, 214);
    color: black;
    width: 33.3%;
    height: 100%;
    line-height: 90px;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}
.intro-slogan{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.intro-slogan > p > i{
    color: red;
}

.intro-value{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    font-size: 40px;
    justify-content: center;
}

.intro-value > li{
    padding: 10px;
    width: 25%;
}
.intro-value > li > div > p{
    padding: 10px;
    font-size: 25px;
}
.intro-map > iframe{
    width: 100%;
    height: 800px;
    
}

.intro-map > p{
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.intro-map >p >i{
    padding: 5px;
    color: red;
    font-size: 30px;
}