.login-box h2{
    text-align: center;
    font-size : 40px;
    margin-bottom : 20px;
    
}
input[type='text']{width: 100%; height: 40px;}

input[type='password']{width: 100%; height: 40px;}

.login-box{
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin:30px auto;
    height: 800px;
    margin-top : 300px;
}
.login-box button{width:100%; height: 50px; background: #000; color: #fff; border:0;}
.login-box li{margin-bottom: 10px;}

.login-box .opt-box {overflow: hidden; margin : 20px 0;}
.login-box .opt-box span{float: left;}
.login-box .opt-box span a{display : inline-block; padding: 0 10px;}
.login-box .opt-box span:first-child{float: left;}
.login-box .opt-box span:last-child{float: right;}

.login-box .join-btn { margin : 20px 0; }
.login-box .join-btn a{
    display: block; border: 1px solid #ccc; line-height: 50px; text-align: center;
    border-radius: 30px;}