.service-wrap {
    margin : 0 auto;
    max-width: 1800px;
    width:100%;
    
}
.faq-board{
    margin: 50px;
    padding: 50px;
    border: 1px solid black;
}
.faq-board > h1{
    font-size: 50px;
    letter-spacing: 10px;
    padding: 20px ;
}
.board-page-btn{
    width: 20%;
    text-align: center;
    line-height: 60px; 
    text-align: center;
    border-radius: 25px;
    margin: 50px auto;
    border: 1.2px solid black;
    font-size: 30px;
}

input[id*="answer"]{ display: none; }
input[id*="answer"] + label {
    font-size: 35px;
    display:block;
    padding: 10px;
    border-bottom: 1px solid rgb(214, 213, 213);
    font-weight: 600;
    cursor:pointer;
    position:relative;
}
input[id*="answer"] + label i{
    padding: 0 20px;
    color:rgb(134, 134, 134);
}
input[id*="answer"] + label em{
    position:absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
    background:url('../img/arrow.png') 0 0 no-repeat;
}
input[id*="answer"] + label + div{
    max-height: 0;
    transition: all 1s;
    overflow: hidden;
    font-size: 23px;
}
input[id*="answer"] + label + div p{
    display:inline-block;
    padding: 30px 80px;
}
input[id*="answer"]:checked + label + div {max-height:500px;}
input[id*="answer"]:checked + label em {background-position:0 -30px;}   