.story-wrap {
    margin: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.story-title {
    font-size: 60px;
    font-weight: 700;
}

.story-main-box {
    margin-top: 100px;
    display: flex;
    width: 1200px;
    border-bottom: 3px solid rgb(223, 223, 223);
    padding-bottom: 100px;
}

.story-img-box {
    width: 800px;
    height: 500px;
}

.story-content-box {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    line-height: 48px;
}

.story-img-box img {
    width: 800px;
    height: 500px;
}

.content-small {
    font-size: 25px;
    font-weight: 300;
}

.content-tiny {
    font-size: 17px;
    font-weight: 460;
}

.content-big {
    font-size: 35px;
    font-weight: 500;
}

.content-info-box {
    margin-top: 20px;
    width: 350px;
    height: 100px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content-select-box {
    margin-top: 20px;
    width: 350px;
    height: 100px;
    background-color: rgb(255, 128, 128);
    border-radius: 10px;
    border: none;
    font-size: 40px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.story-info {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    padding-bottom: 50px;
}

.story-info img {
    margin: 100px 0 50px 0;
    width: 1200px;
    height: 800px;
}