spring:
  datasource:
    url: jdbc:mariadb://10.1.4.112:3307/bdd
    driver-class-name: org.mariadb.jdbc.Driver
    username: choi
    password: 1234
  jpa:
    open-in-view: true
    show-sql: true
    hibernate:
      ddl-auto: update
      format_sql: true 
      dialect: org.hibernate.dialect.H2Dialect
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      use-new-id-generator-mappings: false

      
server:
  servlet:
    encoding:
      charset: UTF-8
      force-response: true