spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/dashboard
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: qwe123
  jpa:
    open-in-view: false
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
      
server:
  servlet:
    encoding:
      charset: UTF-8
      force-response: true
      