spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/dashboard
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 1234
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
      naming:        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      use-new-id-generator-mappings: false
    show-sql: true
    properties:      hibrnate.format_sql: true
      
server:
  servlet:
    encoding:
      charset: UTF-8
      force-response: true