<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="/css/service_style.css" />
<link rel="stylesheet" href="/css/service_board_style.css" />  
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
   
$(document).ready( function() {
$("#headers").load("./header.html");  // 원하는 파일 경로를 삽입하면 된다
$("#footers").load("./footer.html");  // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
});
</script>

<body>

    <div id="headers"></div>
    <div class="service-wrap">
        <div class="board">
            <h1>1:1문의</h1>
            <div class="write-form">
                <ul>
                    <li class="board-ctg">
                        <div class="board-name"><h4>제목</h4></div>
                        <div class="board-data"><input type="text"></div>
                    </li>
                    <li class="board-ctg">
                        <div class="board-name"><h4>내용</h4></div>
                        <div class="board-data"><textarea name="text" id="text"></textarea></div>
                    </li>
                    <li class="board-ctg">
                        <div class="board-name"><h4>첨부파일</h4></div>
                        <div class="board-data" style="font-size: 20px;"><input type="file"></div>
                    </li>
                </ul>
        </div>
        <div class="board-btn">
            <a href="./service.html">돌아가기</a>
            <a href="#none">등록하기</a>
        </div>
            
        </div>
    </div>

      <div id="footers"></div>  

</body>

<script>
    function clickme() {
        window.scrollTo(0,0);
      }
      function goBack() {
          history.back();
      }

</script>