<link rel="stylesheet" href="../css/donationhistory_style.css" />
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#headers").load("./header.html"); // 원하는 파일 경로를 삽입하면 된다
		$("#footers").load("./footer.html"); // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
	});
</script>

<body>
	<div id="headers"></div>
	<div class="swiper mySwiper" style="height: 500px;">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="..\img\banner1.jpg">
			</div>
			<div class="swiper-slide">
				<img src="..\img\banner2.jpg">
			</div>
			<div class="swiper-slide">
				<img src="..\img\banner4.jpg">
			</div>
		</div>
	</div>
	
    <div class="donation-history-wrap">
		<div class="wrap history-wrap">
			<div class="donation-history-title">
				<div>
				<h1>후원 내역</h1>
				<span>&#8251 후원내역은 최대 9개까지 보여집니다.</span>
			</div>
            </div>
            
            <div class="donation-history-content">
                <div class="donation-story">
                    <ul>
                        <li>
                            <img src="../img/story2.jpg" alt="사연1" style="width:100%; height:80%">
                            <p> 돈치치는 많이 아파요 </p>
                        </li>
                        <li>
                            <img src="../img/story5.jpg" alt="사연1" style="width:100%; height:80%">
                            <p> 돈치치는 많이 아파요 </p>
                        </li>
                        <li>
                            <img src="../img/story3.jpg" alt="사연1" style="width:100%; height:80%">
                            <p> 돈치치는 많이 아파요 </p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="../img/story3.jpg" alt="사연1" style="width:100%; height:80%">
                            <p> 돈치치는 많이 아파요 </p>
                        </li>
                        <li>
                            <img src="../img/story4.jpg" alt="사연1" style="width:100%; height:80%">
                            <p> 돈치치는 많이 아파요 </p>
                        </li>
                        <li>
                            <img src="../img/story2.jpg" alt="사연1" style="width:100%; height:80%">
                            <p> 돈치치는 많이 아파요 </p>
                        </li>
                    </ul>
					<ul>
                        <li>
                            <img src="../img/story2.jpg" alt="사연1" style="width:100%; height:80%">
                            <p> 돈치치는 많이 아파요 </p>
                        </li>
                        <li>
                            <img src="../img/story3.jpg" alt="사연1" style="width:100%; height:80%">
                            <p> 돈치치는 많이 아파요 </p>
                        </li>
                        <li>
                            <img src="../img/story4.jpg" alt="사연1" style="width:100%; height:80%">
                            <p> 돈치치는 많이 아파요 </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
		
    </div> 
</body>

<div id="footers"></div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
	var swiper = new Swiper(".mySwiper", {
		spaceBetween: 300,
		centeredSlides: true,
		autoplay: {
			delay: 2500,
			disableOnInteraction: false,
		},
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
		},
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
	});
</script>
<script>
	$(document).ready(function () {
		$("#contents").click(function () {
			$("#popup").fadeIn();
		});
		$("#exit").click(function () {
			$("#popup").fadeOut();
		});
	});
</script>

<script>
	function handleOnChange(e) {
		// 선택된 데이터 가져오기
		const value = e.value;

		// 데이터 출력
		document.getElementById('result').innerText = value;
	}
</script>
<script>
	function clickme() {
		window.scrollTo(0, 0);
	}
	function goBack() {
		history.back();
	}

</script>