<footer th:fragment="footer" class="footer">
    <div class="footer-box">  
        <div class="inquary">
            <div>
            <a href="#none"> 이용약관 </a>
            <a href="#none"> 1:1문의</a>
            <a href="#none">개인정보처리방침</a>
            <a><div class="intro-icon2">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
            </div></a>
        </div>
        </div>
        <div class="bottom-info-box">
            <div class="bottom_info">
                <div class="footer-l">
                    <h3>빨간양말후원 </h3>
                    <p> Email : BDD@naver.com  </p> 
                    <p> BDD(Blood Donation Deed)</p>
                </div>
                <div class="footer-r">
                    <p> about </p>
                    <p> 이용안내 </p>
                </div>
                </div>
            </div>
        </div>
    </div>    
</footer>