<link rel="stylesheet" href="../css/donation_style.css" />  
<link rel="stylesheet" href="../css/reverse_sponsorship_style.css" />  
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">   
	$(document).ready( function() {
	$("#headers").load("/page/header");  // 원하는 파일 경로를 삽입하면 된다
	$("#footers").load("/page/footer");  // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
});
</script>


<body>
    <div id="headers"></div>
    
    <div class="swiper mySwiper" style="height: 650px;">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
              <img src="..\img\banner1.jpg">
          </div>
          <div class="swiper-slide">
            <img src="..\img\banner2.jpg">
          </div>
          <div class="swiper-slide">
              <img src="..\img\banner4.jpg">
          </div>
    </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>

    

    <div class="sponsorship-guide">
      
      <img src="..\\img\donation.png" style="width: 300px; height: 300px; margin-top:30px;">
        <p class="title">후원받기안내</p>

      <div class="guide-box">
        <div>
          <p><b>메일주소:</b> redsocksdoantion@redsocksdonation.co.kr</p>
        </div>  
      </div>
      <div class="guide-box">
        <div>
          <p><b>주소:</b> 대구광역시 동구 동내로 70, 첨단정보통신융합산업기술원 3층 Hustar</p>
        </div>
      </div>
      <div class="guide-box">
        <div>
          <p><b>전화번호:</b> 010-2456-4511</p>
        </div>
      </div>

      
      
    </div>

    



    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
          spaceBetween: 300,
          centeredSlides: true,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });

        var swiper = new Swiper(".mySwiper2", {
            spaceBetween: 300,
            centeredSlides: true,
            autoplay: {
              delay: 2500,
              disableOnInteraction: false,
            },
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
            navigation: {
              nextEl: ".swiper-button-next",
              prevEl: ".swiper-button-prev",
            },
          });
    </script>

    

      <div id="footers"></div>  

</body>
<script>
  function clickme() {
      window.scrollTo(0,0);
    }
    function goBack() {
        history.back();
    }

</script>